doctype(html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd")
html(lang='en' xmlns="http://www.w3.org/1999/xhtml")
    head
        title Mailing registration verification
        style
            include mail-template.css
    body
        div(class='header')
            p
                div(class='S')
                    span S
            p(class='BaseNestjs') BaseNestjs
        div(class='content')
            p(class='test') Hi #{user_name}
            p Here your OTP code:
            p #{code}
            hr
            p For further questions, please contact:
                span(class='blue') #{mail_support}